                
     
 
    
    
    
  <div class="col-md-8"> <a href="http://www.campus-party.com.mx/" target="_blank"><img src="{{ site.root_url }}/img/logoTelefonicaCampus.png" class="logo-footer"/></a></div>
  
    <div class="col-md-4"><a href="http://www.zapopan.gob.mx/" target="_blank"><img src="{{ site.root_url }}/img/logoZapoppan.png" class="logo-footer"/></a></div>
   
      
       <div class="col-md-4"><a href="http://www.applicate.mx" target="_blank"><img src="{{ site.root_url }}/img/HackAPPGob.png" class="logo-footer"/></a></div>
   
          <div class="col-md-4"><a href="http://www.applicate.mx" target="_blank"><img src="{{ site.root_url }}/img/APPlicate.png" class="logo-footer"/></a></div>
   
      
   <div class="col-md-4"><a href="http://www.presidencia.gob.mx/" target="_blank"><img src="{{ site.root_url }}/img/logomover.png" class="logo-footer"/></a></div>
   
  <div class="col-md">
      <a href="http://mxabierto.tumblr.com/" target="_blank"><img src="{{ site.root_url }}/img/logomxa.png" class="logo-footer"/></a>
    </div>


