<h5 align="center">Ganador:
<a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-d0VfdERoQTlmclE&usp=drive_web" target="_blank" align="center">MSCGM</a></h5>


<h5 align="center">Finalistas</h5>

<p>
<div class="row">
  <div class="col-md-4">
<ul align="left">
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-azFMbC1TcEFCWTg&usp=sharing&tid=0BzXXEtD4zEo-NWZqNnI1TjJhNGM" target="_blank">AGGAME</a></li><br>
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-SnNhaVY4U1JVX0U&usp=drive_web" target="_blank">APPDATA</a></li><br>
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-MUFKdC1mdDNXblk&usp=drive_web" target="_blank">Cientificos Pumas</a></li><br>
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-a3d2d2cweDhqamM&usp=drive_web" target="_blank">DAGOTEAM</a></li><br>
</ul>  
    </div>
  <div class="col-md-4">
<ul align="left">
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-cS0tMGxTOWctRXM&usp=drive_web" target="_blank">DATUM</a></li><br>
<li><a href="http://geekonomika.com/dataton/" target="_blank">Deep River Venture</a></li><br>
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-azhPMnRPRk5pUFU&usp=drive_web" target="_blank">GEOESTRATEGIAS</a></li><br>
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-dEdlQndnajhmbDQ&usp=drive_web" target="_blank">MV Analytics</a></li><br>
</ul>  
    </div>
  <div class="col-md-4">
<ul align="left">
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-YU9DNUk1SFF4Rk0&usp=drive_web" target="_blank">PETRUS</a></li><br>
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-Uk9LV05vTXEyTE0&usp=drive_web" target="_blank">UBESTAT</a></li><br>
<li><a href="https://drive.google.com/folderview?id=0BzXXEtD4zEo-cFZnUjdvTUZEVEk&usp=drive_web" target="_blank">VER_T</a></li><br>
<br>

</ul>  
    </div>
</div>
</p>

<h5 align="center">FELICIDADES</h5>


