<h2>Líneas de investigación</h2>
<p>Para guiar el análisis y procesamiento de visualizaciones o mapeos, se propone una serie de temas generales de investigación; sin embargo, los equipos podrán explorar cualquier otra línea de investigación que elijan.
</p>
<p>Los temas sugeridos son:
</p>


<div class="row">
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-01.png" alt="Inscríbete aquí" height="180" width="180" /><p>Cambio climático</p></div>
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-02.png" alt="Inscríbete aquí" height="180" width="180" /><p>Calidad del agua</p></div>
</div>

<div class="row">
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-03.png" alt="Inscríbete aquí" height="180" width="180" /><p>Calidad del aire</p></div>
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-04.png" alt="Inscríbete aquí" height="180" width="180" /><p>Deforestación</p></div>
</div>

<div class="row">
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-05.png" alt="Inscríbete aquí" height="180" width="180" /><p>Manejo de residuos</p></div>
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-06.png" alt="Inscríbete aquí" height="180" width="180" /><p>Feneomenos meteorológicos</p></div>
</div>

<div class="row">
  <div class="col-md-6"><img src="{{ site.root_url }}/img/iconos-07.png" alt="Inscríbete aquí" height="180" width="180" /><p>Minería</p></div>
  <div class="col-md-6"></div>
</div>



